$maincolor: #f1f1f1;
$lightcolor: #fff;
$darkcolor: #000;
$primarycolor: #007bff;
$secondarycolor: #6c757d;
$successcolor: #28a745;
$dangercolor: #dc3545;
$dangercolorsecondary: #bd2130;
$warningcolor: #ffc107;
$infocolor: #17a2b8;
$lightcolor: #f8f9fa;
$darkcolor: #343a40;
$burblincolor: #646cff;
$buttoncolor: #ff7f50;
$secondarycolorbutton: #e06b4e ;

$maxmobile: 600px;
$maxtablet: 768px;
$maxdesktop: 1024px;    

